html,body{
  height:97%;
  font-family:"microsoft yahei",simsun,arial;
  margin:0;
}

li{
  list-style: none;
}
#pageWrapper{
  height: auto;
  width: 70%;
  margin:0 auto;
  background-color:#555;
}
#main{
  height: 80%;
}
#hiChatLogo{
  max-width: 100%;
  width: 90px;
  display: inline-block;
}
.titleContainer{
  color: #ddd;
  display: inline-block;
}
#appTitle{
  font-size: 2em;
  margin: 5px;
}


#messages{
  min-height: 100px;
  height: 400px;
  width: 98%;
  margin: 0 auto;
  background-color:white;
  background-color:#E5E5E5;
overflow: auto;
}

/*toolbar*/
.toolBar {
  width: 100%;
}
#tools{
  margin:3px;
}
#tools li{
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
#tools li img{
  width: 15px;
}
.tool{
  display: none;
}

/*message input area*/
.messageInput{
  margin:0 auto;
  padding: 0 5px;
  white-space: nowrap;
}
#message{
  vertical-align: top;
  max-width: 88%;
  width: 88%;
  min-height: 50px;
}
#sendMessage{
  margin-top: 2px;
  vertical-align: top;
  width: 10%;
  height: 50px;
}

/*footer*/
footer{
  color: #555;
  text-align: center;
  margin-top: 15px;
}